@page "/"

<PageTitle>Moogle!</PageTitle>

<body>
<div class="Iam">

<p>This is</p>
<b>
  <div class="innerIam">
    Moogle!<br /> 
    a new way<br />
    to search<br />
    by...<br />
    Alejandro!
    </div>
</b>

</div>
</body>

<input class="input" name="text"  @bind="query" placeholder="Search Here!">

<button type="default" class="btn btn-primary" @onclick="RunQuery">🔍 Touch</button>

@if (!string.IsNullOrEmpty(result.Suggestion)) {
    <div class="suggestion">
        <p>¿Quisite decir <strong><a href="#" @onclick="SearchSuggestion" >@result.Suggestion</a></strong>?</p>
    </div>
}

<ul class="results">
@foreach (var item in result.Items()) {
    <li>
         <div class="item">
            <p class="title"><p style="color: #e74c3c;">@item.Title</p></p>
            <p style="color: #e8e8e8;">... @item.Snippet ...</p> 
        </div> 
    </li>
}
</ul>

@code {
    private string query = "";
    private SearchResult result = new SearchResult();

    
    static DataBase docs = new DataBase(); 

     
    private void SearchSuggestion()
    {
        query=@result.Suggestion;
        RunQuery();
    }
    private void RunQuery() {
        result = Moogle.Query(query , docs);
    }
}
